:root {
  --bg-color: #434343;
  --bg-color-2: #212121;
  --accent-color: #ff3164;
  --main-color: #9ef1ec;
  --main-color-2: #55ebff;
}

@keyframes fade {
  0% {
      opacity: 0;
      transform: translateY(50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
   }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color-1);
  background-image: linear-gradient(to bottom right, var(--bg-color), var(--bg-color-2));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.subtitle-main {
  color: var(--main-color);
  margin-bottom: 3%;
}

.subtitle-accent {
  color: var(--accent-color);
  margin-bottom: 5%;
}

.logo {
  width: 50%;
  margin: 1vh;
}

.logo:hover {
  transform: scale(170%);
  transition: transform .3s;
}

li {
  margin-bottom: 3%;
}

li a {
  text-decoration: none;
  color: white;
}

li a:hover {
  color: var(--main-color);
}

li a:active {
  color: var(--main-color-2);
}


.col-menu {
  animation: fade ease 0.9s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-bottom: 10%;
}

.col-info {
  animation: fade ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.btn-repo {
  background-color: var(--main-color);
  color: var(--bg-color);
  border-color: var(--main-color);
}

.btn-repo:hover {
  background-color: #9ef1eb80;
  border-color: white;
}

.btn-demo {
background-color: var(--accent-color);
color: white;
border-color: var(--accent-color);
}

.btn-demo:hover {
background-color: #ff316480;
border-color: white;
}

.btn-repo:not(:disabled):not(:disabled):active {
  background-color: var(--main-color);
  color: var(--bg-color);
  border-color: var(--main-color);

  box-shadow: 0 0 2px 2px var(--accent-color);
}

.btn-demo:not(:disabled):not(:disabled):active {
  background-color: var(--accent-color);
  color: white;
  border-color: var(--accent-color);

  box-shadow: 0 0 2px 2px var(--main-color);
}

.last-item {
  border-bottom: var(--accent-color) solid 1px;
  padding-bottom: 7%;
}

@keyframes glow {
  0% {
      opacity: .4;
  } 60% {
      opacity: 1;
  } 75%{
    opacity: 1;
  }100% {
      opacity: .4;
  }
}

.detail {
  float: right;
  animation: glow ease 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  opacity: .6;
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  color: white;
  text-decoration: none;
  margin: 5%;
}

.detail:hover {
  color: var(--accent-color);
}