.col-ed {
    border: var(--main-color) 1px solid;
    margin: 1%;
  }
  
  .p-detail {
    opacity: 0.6;
  }
  
  .ed-link {
    color: var(--main-color);
  }
  
  .ed-link:hover {
    text-decoration: underline;
  }