.header {
  background-image: linear-gradient(to right, var(--main-color), var(--main-color-2));
  font-family: 'Roboto Mono', monospace;
  box-shadow: 0px 10px 40px #121212;
  text-align: center;
}

.icono {
  position: fixed;
  right: 0px;
}

.text-header {
  padding-left: 2%;
  color: var(--accent-color);
  text-shadow: 0px 1px 1px #343434;
  font-size: 30px;
}

.text-header h1 {
  font-size: 60px;
}

.header a {
  color: #212121;
  text-decoration: none;
  font-size: 20px;
}

.header a:hover {
  color: var(--accent-color);
}

.header-nb {
  background-color: var(--accent-color);
}

.nb-link-active {
  color: var(--accent-color) !important;
  border-bottom: var(--accent-color) 2px solid;
}
