.btn {
    margin-right: 2%;
}

.proyecto-img {
  width: 70%;
  margin-bottom: 5%;
}

.proyecto-img:hover {
  transform: scale(1.2);
  transition: transform .3s;
}

.tecnologias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0;
}

#select-tecnologias {
  margin-top: 5%;
  width: 75%;
  margin-bottom: 5%;
  background-color: rgb(0, 0, 0, 0);
  color: white;
  appearance: none;
  border-color: var(--main-color);
}

#select-tecnologias:focus {
  box-shadow: 0 0 5px var(--main-color);
  border-color: var(--accent-color);
  background-color: white;
  color: black;
}