.btn {
    margin-right: 2%;
}

.proyecto-img {
  width: 70%;
  margin-bottom: 5%;
}

.proyecto-img:hover {
  transform: scale(1.2);
  transition: transform .3s;
}

.tecnologias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0;
}