
.col-competencia {
    opacity: 0;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border: var(--main-color) solid 1px;

    animation: fade .7s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

.img {
    border-radius: 50%;
    width: 25vh;
    height: 25vh;
    object-fit: cover;
}
  